# Usando CSV

In [1]:
from csv import DictReader

In [2]:
with open('sample_data/wine-ratings-small.csv', encoding='utf-8', errors='ignore') as f:
    reader = DictReader(f)
    wines = list(reader)

In [9]:
len(wines)

780

In [ ]:
napa_wines = []
for wine in wines:
    if 'Napa' in wine['region']:
        napa_wines.append(wine)

☝️ napa_wines el anterior codigo crea e imprime una lista llamada napa_wines recorriendo la lista anteriomente creada wines, almacenando el registro de los vinos lo cuales en su region coincidan con 'Napa'

# Usando Pandas

In [10]:
import pandas as pd

In [12]:
df = pd.read_csv("sample_data/wine-ratings-small.csv", index_col=0) # read the csv file and set the index column to 0
df.head(5)

,name,grape,region,variety,rating,notes
0,Laurenz V Charming Gruner Veltliner 2013,NaN,"Kamptal, Austria",White Wine,90.0,Aromas of ripe apples and a typical Veltliner ...
1,Laurenz V Charming Gruner Veltliner 2014,NaN,"Kamptal, Austria",White Wine,90.0,Aromas of ripe apples and a typical Veltliner ...
2,Laurenz V Singing Gruner Veltliner 2007,NaN,Austria,White Wine,90.0,"A very attractive fruit bouquet yields apple, ..."
3,Laurenz V Singing Gruner Veltliner 2010,NaN,Austria,White Wine,88.0,"A very attractive fruit bouquet yields apple, ..."
4,Laurenz V Singing Gruner Veltliner 2011,NaN,Austria,White Wine,88.0,"A very attractive fruit bouquet yields apple, ..."

In [13]:
napa_df=df[df['region'].str.contains('Napa')]

In [14]:
napa_df.head(5)

,name,grape,region,variety,rating,notes
24,Lava Vine Winery Napa Valley Cabernet Sauvigno...,NaN,"Napa Valley, California",Red Wine,91.0,A wonderful representation of how amazing the ...
25,Lava Vine Winery Napa Valley Reserve Cabernet ...,NaN,"Napa Valley, California",Red Wine,92.0,Black berries and hints of strawberry invite w...
26,Lava Vine Winery Napa Valley Reserve Cabernet ...,NaN,"Napa Valley, California",Red Wine,92.0,A slight minty nose with dark chocolate and fr...
288,Leaping Lizard Cabernet Sauvignon 2007,NaN,"Napa Valley, California",Red Wine,90.0,"Our Cabernet Sauvignon is a full-bodied, fruit..."
685,Levendi Stagecoach Cabernet Sauvignon 2008,NaN,"Napa Valley, California",Red Wine,94.0,From the Stagecoach Vineyard high on the easte...

☝️ El anterior codigo crea e imprime un data frame llamada napa_df recorriendo el data frame creado df, almacenando el registro de los vinos lo cuales en su region coincidan con 'Napa'