In [1]:
import json
import pandas as pd

In [2]:
archivo_json = 'sample_data\wine-ratings.json'
wines_df = pd.read_json(archivo_json)

In [3]:
wines_df.head(5)

,name,grape,region,variety,rating,notes
0,Laurenz V Charming Gruner Veltliner 2013,NaN,"Kamptal, Austria",White Wine,90,Aromas of ripe apples and a typical Veltliner ...
1,Laurenz V Charming Gruner Veltliner 2014,NaN,"Kamptal, Austria",White Wine,90,Aromas of ripe apples and a typical Veltliner ...
2,Laurenz V Singing Gruner Veltliner 2007,NaN,Austria,White Wine,90,"A very attractive fruit bouquet yields apple, ..."
3,Laurenz V Singing Gruner Veltliner 2010,NaN,Austria,White Wine,88,"A very attractive fruit bouquet yields apple, ..."
4,Laurenz V Singing Gruner Veltliner 2011,NaN,Austria,White Wine,88,"A very attractive fruit bouquet yields apple, ..."

In [4]:
df = pd.read_csv("sample_data/wine-ratings.csv", index_col=0) # read the csv file and set the index column to 0
df.head(5)

,name,grape,region,variety,rating,notes
0,1000 Stories Bourbon Barrel Aged Batch Blue Ca...,NaN,"Mendocino, California",Red Wine,91.0,"This is a very special, limited release of 100..."
1,1000 Stories Bourbon Barrel Aged Gold Rush Red...,NaN,California,Red Wine,89.0,The California Gold Rush was a period of coura...
2,1000 Stories Bourbon Barrel Aged Gold Rush Red...,NaN,California,Red Wine,90.0,The California Gold Rush was a period of coura...
3,1000 Stories Bourbon Barrel Aged Zinfandel 2013,NaN,"North Coast, California",Red Wine,91.0,"The wine has a deep, rich purple color. An int..."
4,1000 Stories Bourbon Barrel Aged Zinfandel 2014,NaN,California,Red Wine,90.0,Batch #004 is the first release of the 2014 vi...

In [5]:
# Se eliminaran la filas que tengan valores nulos en region
df = df.dropna(subset=['region'])

# Se eliminaran la filas que tengan valores nulos en notes
df = df.dropna(subset=['notes'])

In [6]:
austria_df=df[df['region'].str.contains('Austria')]

In [7]:
austria_df.columns

Index(['name', 'grape', 'region', 'variety', 'rating', 'notes'], dtype='object')

## Filtrar por Tipo de Vino

In [8]:
white_wines = df[df['variety'] == 'White Wine']
white_wines.head(5)

,name,grape,region,variety,rating,notes
12,14 Hands Chardonnay 2011,NaN,Washington,White Wine,89.0,This Chardonnay displays aromas and flavors of...
16,14 Hands Riesling 2014,NaN,Washington,White Wine,88.0,This crisp Riesling shows bright flavors of ap...
17,14 Hands Riesling 2015,NaN,Washington,White Wine,88.0,This crisp Riesling shows bright flavors of ap...
18,14 Hands Riesling 2016,NaN,Washington,White Wine,88.0,This crisp Riesling shows bright flavors of ap...
26,1865 Single Vineyard Sauvignon Blanc 2011,NaN,Chile,White Wine,91.0,"Almost transparent pale yellow, young, with gr..."

In [9]:
white_wines.to_json('sample_data/white_wines.json', orient='records')

## Filtrar por Puntuación Alta

In [10]:
# Obtener todos los vinos con una puntuación igual o superior a 90.
high_rated_wines = df[df['rating'] >= 90]
high_rated_wines.head(5)

,name,grape,region,variety,rating,notes
0,1000 Stories Bourbon Barrel Aged Batch Blue Ca...,NaN,"Mendocino, California",Red Wine,91.0,"This is a very special, limited release of 100..."
2,1000 Stories Bourbon Barrel Aged Gold Rush Red...,NaN,California,Red Wine,90.0,The California Gold Rush was a period of coura...
3,1000 Stories Bourbon Barrel Aged Zinfandel 2013,NaN,"North Coast, California",Red Wine,91.0,"The wine has a deep, rich purple color. An int..."
4,1000 Stories Bourbon Barrel Aged Zinfandel 2014,NaN,California,Red Wine,90.0,Batch #004 is the first release of the 2014 vi...
5,1000 Stories Bourbon Barrel Aged Zinfandel 2016,NaN,California,Red Wine,91.0,"1,000 Stories Bourbon barrel-aged Zinfandel is..."

In [11]:
high_rated_wines.to_json('sample_data/high_rated_wines.json', orient='records')

## Filtrar por Región de Austria

In [12]:
austria_wines = df[df['region'].str.contains('Austria')]
austria_wines.head(5)

,name,grape,region,variety,rating,notes
921,Allram Hasel Alte Reben Kamptal Reserve Gruner...,NaN,"Kamptal, Austria",White Wine,95.0,#70
922,Allram Trocken Kamptal Strassertaler Gruner Ve...,NaN,Austria,White Wine,90.0,This wine is the quintessence of a typical Grü...
4250,Berger Lossterrassen Kremstal DAC Gruner Veltl...,NaN,"Kremstal, Austria",White Wine,93.0,"Some ""exotic"" aromas over the classic loess pr..."
4251,Berger Lossterrassen Kremstal DAC Gruner Veltl...,NaN,"Kremstal, Austria",White Wine,93.0,"Some ""exotic"" aromas over the classic loess pr..."
4252,Berger Lossterrassen Kremstal DAC Gruner Veltl...,NaN,"Kremstal, Austria",White Wine,91.0,To affirm that GV belongs among the finest gra...

In [13]:
austria_wines.to_json('sample_data/austria_wines.json', orient='records')

## Filtrar por Notas con "fruit bouquet"

In [14]:
fruit_bouquet_wines = df[df['notes'].str.contains('fruit bouquet')]
fruit_bouquet_wines.head(5)

,name,grape,region,variety,rating,notes
5316,Bodegas Eguren Mercedes Cabernet Sauvignon 2009,NaN,Spain,Red Wine,90.0,Dark purplish red color. Candy and wood berry ...
7908,Campagnola Amarone della Valpolicella Classico...,NaN,"Valpolicella, Veneto, Italy",Red Wine,90.0,"This rich, dry red wine is carefully made in t..."
10181,Chateau Cambon La Pelouse Haut-Medoc Cru Bourg...,NaN,"Medoc, Bordeaux, France",Red Wine,90.0,This wine is characterised by its intense colo...
10629,Chateau De Berne PUR 2015,NaN,"Cotes de Provence, Provence, South of France, ...",Pink and Rosé,92.0,"Translucent, pale robe and exotic fruit bouque..."
11201,Chateau d'Yquem Sauternes (1.5 Liter Magnum) 1989,NaN,"Sauternes, Bordeaux, France",NaN,97.0,"Rich, opulent concentrated and full-bodied. Me..."

In [15]:
fruit_bouquet_wines.to_json('sample_data/fruit_bouquet_wines.json', orient='records')